# =========================
# Build outputs
# =========================
*.o
*.out
*.map
*.asm
*.i
*.elf
*.bin

# =========================
# Temporary files
# =========================
*.tmp
*.log

# =========================
# OS / system files
# =========================
.DS_Store
Thumbs.db

# =========================
# Editor files (optional but recommended)
# =========================
.vscode/
.idea/